.feed {
  display: flex;
  justify-content: center;

  .feed-area {
    border: 1px solid #dfdfdf;
    padding-left: 0;
    margin-bottom: 30px;
  }

  .main-first {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;

    img {
      opacity: 0.7;
    }
  }

  .main-first__profile {
    display: flex;
    gap: 10px;
    margin-left: 10px;

    div {
      font-size: 13px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-weight: 550;
    }
  }

  .main-second {
    width: 500px;
    height: 500px;
  }

  .main-third {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    gap: 10px;
  }

  .main-four {
    margin-left: 10px;

    span {
      font-size: 11px;
    }
  }

  .main-four__state {
    align-items: center;
    margin-left: 10px;
    margin-right: 5px;
    font-size: 11px;
  }
}
