.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .nav-bar {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dfdfdf;
    width: 500px;
  }

  .nav-bar__first {
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: 500px;
  }

  .nav-bar__first__font {
    font-family: 'Lobster', cursive;
  }

  .nav-bar__second {
    display: flex;
    align-items: center;
    input {
      text-align: center;
      width: 200px;
      background-color: #fafafa;
      padding: 5px;
      border: 1px solid #dfdfdf;
      border-radius: 3px;
      font-size: 10px;
    }
  }

  .nav-bar__third {
    display: flex;
    gap: 20px;
    text-align: center;
    align-items: center;
  }
}
