.Login {
  display: flex;
  align-items: center;
  justify-content: center;
  
  .container {
    width : 348px;
    height : 374px;
    border : 1px solid rgb(219,219,219);
    padding : 10px 0;
    box-sizing : content-box;
    margin-top : 50px;

    .logo-text {
      font-size : 48px;
      font-family: 'Lobster', cursive;
      margin-top : 36px;
      margin-bottom : 12px;
     }

     .form-wrap {
      margin-top : 24px;


      .pw-input, .id-input {
        width : 266px;
        height : 36px;
        border : 1px solid rgb(219,219,219);
        box-sizing : border-box;
        padding : 9px 0 7px 8px;
        font-size : 12px;
        margin : 0 40px 6px 40px;
        background-color : rgb(250,250,250);
        border-radius: 3px;
      }  

      .login-button {
        margin : 8px 40px 8px 40px;
        width : 268px;
        height : 30px;
        // background-color : rgba(0,149,246,0.3);
        color : rgb(255,255,255);
        border-radius : 4px;
        border : 1px solid rgba(0,0,0,0);
        cursor : pointer;
      }


      .find-password {
        margin-top : 80px;
        margin-bottom : 10px;
        font-size : 12px;
      }
    }
  }
}


 






