img {
  width : 24px;
  margin : 0 8px;
}

span {
  font-size : 14px;
}
.writerName {
  font-weight: bold;
}


body {
  margin : 0;
  background-color: rgba(249, 247, 247, 0.872);  
}

main  {
	display: flex;
	justify-content: center;
	border-top: 1px solid rgb(234, 230, 230);
  padding-top : 70px;
}

nav {
  background-color: white;
  position : fixed;
  height : 65px;
  top : 0;
  left : 0;
  right : 0;
  z-index: 2;
 }

.nav-content {
  display : flex;
  justify-content: space-between; 
  align-items: center;
  margin : 0px;
  padding : 30px;
  position : relative;
}

.nav-left {
  display: flex;
  align-items: center;
  position: absolute;
  left : 300px;
}

.icon-insta { 
  width : 20px;
  border-right : 1px solid black; 
  padding-right : 8px;
}

.nav-left span {
  font-family: 'Lobster', cursive;
  font-size : 18px;
  margin-left : 5px;
}

.nav-center {
  position: absolute;
  left : 40%;
}

.deleteIcon {
  width : 14px;
  float : right;
  cursor : pointer;
}

#search {
  background-image: url('../../assets/images/search.png');
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: 8px center;
  background-color: rgb(239, 239, 239);
  border: 1px solid rgb(230, 230, 230);
  border-radius: 9px;
  padding :1px 15px;
  width : 200px;
  height : 30px;
}
#search::placeholder {
  text-indent : 20px;
  }
#search:focus {
  background-image: none;
  outline : none;
  }
#search:focus::placeholder {
  text-indent : 0;
}

.nav-right {
  display: flex;
  align-items: center;
  position: absolute;
  right : 350px;
}

.feed-icons img{
  margin : 0 3px;
}

img.photo1, img.photo2, img.photo3 {
  width: 450px;
	margin: 0;
	max-width: 100%;
}

#root {
  margin-top : 60px; 
}


.threeFeeds {
display: flex;
justify-content: center;
align-items: center;
margin-top : 10px;
} 

.feeds {
	display: flex;
	justify-content: center;
	align-items: center;
  width : 500px;
  box-sizing: content-box;  
}

article {
	display: flex;
	flex-direction: column;
	align-items: space-between;
	flex: 0 1 450px;
	border: 1px solid rgb(230, 230, 230);
	margin: 30px 0 0 0;
	background-color: white;
  border-radius : 8px;
}

.article-header {
	display: flex;
	align-items: center;
	justify-content: space-between;	
	background-color: white;
	padding: 10px 5px;
}

.author-profile {
	display: flex;
	align-items: center;
}

.author-profile-icon {
	left: 2px;
}

.author-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	left: 40px;
	margin: 0 2px;
}

#author-id {
	left: 10px;
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-weight: bold;
}

.feed-icons {
  display : flex;
  justify-content: space-between;
  align-items: center;
  margin : 7px
}

.feed-icons-left, .feed-icons-right {
	display: flex;
	align-items: center;
}

.comment {
  padding : 0 8px;
}

.like-it {
  font-weight : bold;
  font-size : 13px;
  margin-top : 6px;
  margin-bottom : 6px;
}

#comment-first-id, #comment-second-id {
  font-weight: bold;
  font-size : 13px;
}
#comment-first-text, #comment-second-text {
  font-size : 13px;
}

.show-more {
  opacity : 0.5;
  font-size : 13px;
  margin : 9px 0 3px 0;
}
.timeContainer {
  margin : 12px 0;
}
#time-stamp {
  opacity : 0.5;
  font-size : 9px;
}

.new-comment {
  position: relative;
  display: flex;
  align-items: center;
}

.smile {
  position: absolute;
  left : 5px;
  bottom : 10px;
  width : 22px;
}

.comment-bottom {
  margin-top : 5px;
}

.feed-comment-list div{
  font-size : 13px;
  font-weight: 400;
  margin-top : 3px;
}

.feed-comment-list span{
  font-size : 13px;
  font-weight: bold;
}


.new-comment {
  border-top: 1px solid rgb(234, 230, 230);
}

.new-comment-input {
  height: 40px;
  width : 100%;
  border : none;
  margin-left : 45px;
}
.new-comment-input:focus {
  outline : none;
}

.comment-button {
  position : absolute;
  left : 390px;
  bottom : 10px;
  color : rgba(192,224,253,1);
  background-color:transparent;
  border : none;
  font-size : 14px;
}

.main-right {
  display :flex;
  flex-direction: column;
  margin : 30px 20px 0 0;
  max-width: 200px; 
 
}

.login-user-header {
	display: flex;
	align-items: center;
	padding: 10px 5px;
}

.login-user-profile {
	display: flex;
	align-items: center;
}

#login-profile-icon {
	left: 2px;
	width: 60px;
}

.login-user-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	left: 40px;
	margin: 0 2px;
}

#login-user-id {
	left: 10px;
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-weight: bold;
}

#login-user-location {
	left: 10px;
	margin: 0;
	padding: 0;
	font-size: 10px;
}

.main-right-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: white;
	border: 1px solid rgb(230, 230, 230);
}

.header-title {
	display: flex;
	justify-content: space-between;
	font-size: 12px;
	padding: 0 14px;	
}

.header-title p:nth-child(1) {
	color: grey; 
}
.header-title p:nth-child(2) {
	font-weight: bold;
}

.story-user-profile, .rf-profile {
	max-width: 100%;
	margin: 0;
}

.user-id {
	font-weight: bold;
}

.user-update {
	color: grey;
}

.story-content, .recommend-content {
	display: flex;
	flex-direction: column;
	background-color: white;
}

.story-user, .recommend-user {
	display: flex;
	align-items: center;
}

.story-user-info, .rf-user-info {
	display: flex;
	flex-direction: column;
	margin: 0;
}

.story-user-info p, .rf-user-info p {
	font-size: 10px;
	margin: 0;
	text-align: center;
}

.company-info {
	display: flex;
	flex-direction: column;
}

.company-info p {
	max-width: 90%;
	font-size: 11px;
	color: grey;
  opacity : 0.5;
}

.oneComment {
  margin-top : 4px;
}