* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Lobster", cursive;
  src: url("../fonts/Lobster/Lobster-Regular.ttf");
}

.just {
  font-family: "Lobster", cursive;
  border-left: solid 1px black;
  font-weight: bold;
  padding-left: 15px;
}

.navBar {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 50px;
  position: fixed;
  padding: 10px;
  border-bottom: 1px solid #f0f0f0;
}

.topUi {
  display: flex;
  justify-content: space-between;
  width: 70%;
  max-width: 1000px;
  height: 30px;
}

img {
  width: 20px;
}

.searchBar {
  position: relative;
}

.search {
  text-align: center;
  height: 100%;
  background-color: #fafafa;
  border: 1px solid #f0f0f0;
}
.searchImg {
  position: absolute;
  margin-left: 40px;
  margin-top: 5px;
  color: gray;
}
.instaImg {
  margin-left: 50px;
}

.shrimp {
  width: 300px;
}

.feedId {
  font-weight: bold;
}

.feed {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  top: 50px;
  border: 1px solid #e9e9e9;
  background-color: #fafafa;
}
