* {
  padding: 0;
  margin: 0;
}

.forgotpwModal {
  padding: 50px 0px;
  .forgotpwWrapper {
    display: flex;
    flex-direction: column;
    background-color: #fffef2;
    margin: 0 auto;
    height: 100%;
    width: 500px;
    padding: 50px;

    .buttonWrapper {
      display: flex;
      justify-content: space-between;
      img {
        width: 20px;
        height: 20px;
      }
    }
    button {
      border: none;
      background-color: #fffef2;
      cursor: pointer;
    }
    input {
      border: none;
      border-bottom: 1px solid #cccccc;
      background-color: #fffef2;
      color: #666666;
      height: 30px;
      padding: 25px 0px 0px;
      font-size: 24px;
      outline: none;
    }
    .forgotpwcontent {
      display: flex;
      flex-direction: column;
      margin: 35px 0px 0px;

      .title {
        font-size: 24px;
        font-weight: 400;
        color: #333333;
      }
      .content {
        margin: 20px 0px 30px;
        color: #666666;
        font-size: 16px;
      }

      button {
        background-color: #333333;
        color: #fffef2;
        height: 60px;
        margin: 35px 0px 0px;
        padding: 19px 23px;
        &:hover {
          background-color: #000000;
        }
      }
    }
  }
}
