.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .block {
    display: flex;
    flex-direction: column;
  }

  .miniBlock {
    display: flex;
    flex-direction: column;
  }
}
