.card {
  margin-right: 20px;
  width: 350px;
  display: inline-block;
  vertical-align: text-top;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 13px;

  .cardImg {
    img {
      width: 100%;
    }
  }

  .cardMain {
    padding: 20px 30px;

    .status {
      span {
        padding: 0 8px;
        display: inline-block;
        height: 22px;

        border-radius: 2px;
        color: #fff;
        line-height: 22px;
        letter-spacing: normal;
        font-weight: 700;
        font-size: 12px;
      }

      .new {
        background-color: rgb(62, 210, 229);
      }

      .theme {
        background-color: rgb(146, 82, 241);
      }

      .good {
        background-color: rgb(254, 0, 15);
      }
    }
  }
}
